{% extends 'base.html' %}
{% block body %}
      <br>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    {% load static %}
      <script src="{% static 'celery_progress/celery_progress.js' %}"></script>

      
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="mt-6 text-center">Questions posted:  {{ question_count }}</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Answers posted:  {{answer_count}}</h5>
                    <p class="card-text text-muted">by  {{user.username}}</p>
                    
                </div>
                <div class="card-footer text-muted">
        
                <button id="start-bg-job" onClick='start_long_task()'>Download Data</button><br><br>
                <div id="progress"></div>
                <iframe id="my_iframe" style="display:none;"></iframe>


                </div>
            </div>
        </div>
    <br><br>
    <hr>
    {% csrf_token %}
    <script>
    function start_long_task() {
        div = $("<div class='progress-wrapper'><div id='progress-bar' class='progress-bar' style='background-color: #68a9ef; width: 0%;'>&nbsp;</div></div><div id='progress-bar-message'>Waiting for progress to start...</div>");
            $('#progress').append(div);

            $.ajax({
                type: 'POST',
                url: "{% url 'qa:download_json_data' %}",
                data : {
                        csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                        },
                cache: false,
                success:  function(response) {
                var progressUrl = "{% url 'celery_progress:task_status' 'task_id' %}"
                var progressUrl = progressUrl.replace("task_id", response)
                CeleryProgressBar.initProgressBar(progressUrl);
                
            },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }
    </script>


{% endblock %}
