{% extends 'base.html' %}
{% block body %}
{% load crispy_forms_tags %}
<style>
  
  .mt-6{
      color: rgb(114, 107, 107);
      padding-left: 20%;
      padding-top: 5%;


  }
  </style>
<div class="row justify-content-center">
  <div class="col-4">
    <h1 class="mt-6">Post Question</h1>
    <hr class="mt-5 mb-4">
    <form action="{% url 'qa:post_question' %}" method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Submit</button>
    </form>  
  </div>
</div>
  
{% endblock %}