{% extends 'base.html' %}
{% block body %}
{% load crispy_forms_tags %}
<br>
<div class="col-sm-4">
  <h1 class="mt-6">Question</h1>
  <div class="card text-center">
      <div class="card-header">
          Question:  {{question.title}}
      </div>
      <div class="card-body">
          <h5 class="card-title">Description:  {{question.description}}</h5>
          <p class="card-text text-muted">by  {{question.user.username}}</p>
      </div>
      <div class="card-footer text-muted">

          Added on:  {{question.created_date}}
      </div>
  </div>
</div>
<br><br>



  <div class="col-4">
    <h1 class="mt-6">Post Answer</h1>
    <hr class="mt-0 mb-4">
    <form action="{% url 'qa:post_answer' question.id %}" method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Submit</button>
    </form>  
  </div>
  
{% endblock %}
