{% extends 'base.html' %}
{% block body %}
{% load crispy_forms_tags %}
<style>
  
  .mt-6{
      color: rgb(114, 107, 107);
      padding-left: 20%;
      padding-top: 5%;


  }
  </style>
<br>
<div class="col-sm-4">
  <h1 class="mt-6">Question</h1>
  <div class="card text-center">
      <div class="card-header">
          Question:  {{answer.question.title}}
      </div>
      <div class="card-body">
          <h5 class="card-title">Description:  {{answer.question.description}}</h5>
          <p class="card-text text-muted">by  {{answer.question.user.username}}</p>
      </div>
      <div class="card-footer text-muted">

          Added on:  {{answer.question.created_date}}
      </div>
  </div>
</div>
<br><br>



  <div class="col-4">
    <h1 class="mt-6">Edit Answer</h1>
    <hr class="mt-0 mb-4">
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Submit</button>
    </form>  
  </div>
  
{% endblock %}
