{% extends 'base.html' %}
{% block body %}
<br>
{% if question %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if question.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ question.previous_pagenumber}}"><</a></li>    
    {% endif %}
    {% for num in question.paginator.page_range %}
        {% if question.number == num %}

        {% elif num > question.number|add:'-3' and num < question.number|add:'+3' %}
            
            
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                
                
        {% endif %}
    {% endfor %}
    {% if question.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ question.next_page_number }}">></a></li>
        <li class="page-item"><a class="page-link" href="?page={{ question.paginator.num_pages }}">>></a></li>
        
    {% endif %}
</ul>
</nav>
    {% for each_question in question %}
    <!-- <div class="row"> -->
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="mt-6 text-center">Question:  {{each_question.title}}</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Description:  {{each_question.description}}</h5>
                    <p class="card-text text-muted">by  {{each_question.user.username}} on:  {{each_question.created_date}}</p>
                    <a href="{% url 'qa:get_answers' each_question.id %}" class="btn btn-primary">Answers</a>
                </div>
                <div class="card-footer text-muted">
        
                    <div class="row flex">
                        Tags:
                        {% for tag in each_question.tags.all %}
                         <a href="{% url 'qa:tag_result' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                        {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    <br>
    <br>
  {% endfor %}
  
  {% else %}
    No questions
    {% endif %}

{% endblock %}

   